<div class="jumbotron jumbotron-fluid mt-5 pt-5 text-center">
  <div class="container">
    <h1 class="display-4">Riders</h1>
  </div>
</div>
<div class="riders">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">first name</th>
      <th scope="col">last name</th>
      <th scope="col">city of origin</th>
      <th scope="col">state of origin</th>
      <th scope="col">placeholder</th>
    </tr>
  </thead>
  <tbody>
  <% @riders.each do |riders| %>
  <tr>
      <td><%= riders.id %></td>
      <td><%= riders.first_name %></td>
      <td><%= riders.last_name %></td>
      <td><%= riders.city_of_origin %></td>
      <td><%= riders.state_of_origin %></td>
      <td><%= riders.location %></td>


    </tr>

    <% end %>

  </tbody>
</table>
</div>

